* { box-sizing:border-box; }
body { background:url(http://www.planwallpaper.com/static/images/colorful-triangles-background_yB0qTG6.jpg) #cacaca; margin:30px; }

.postit  { 
	display: block;
	padding:25px 25px 40px;
	margin:0 auto 20px auto;
	width:750px;
	height:auto;
	line-height:1.5;
	border:0;
	border-radius:5px;
	background-color: black;
	overflow:hidden;
	transition:box-shadow 0.5s ease;
}

.postit:hover{
	  transform: scale(1.1);
}

u{
	text-decoration: none;
	font-family: serif;
	color: white;
	font-size:30pt;
}

a:link{
    text-decoration: None;
}

h1{
	font-family: 'Slabo 27px', serif;
	font-size:50pt;
	color:white;
	font-weight:700;
}

h2, h3{
	font-family: 'Slabo 27px', serif;
	color:gray;
}

label{
	font-family:sans-serif;
	color:gray;
}