{% extends 'accounts/base.html' %}
{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{%block title%}
    Login
{%endblock%}
{% block content %}
<div class="container">
    <h1>IntoTheDeep</h1>
    <div class="row">
        <h1 style="font-size:60pt; float:right; font-family:sans-serif; margin-top:-5%; margin-right:-5%" class="col-md-7"> Join our community of thinkers. </br> Explore philosophy</h1>
        <div>
          <form action="" method="POST" class="col-md-3" style="margin:auto">
            {% csrf_token %}
            {% bootstrap_form form %}
            <br />
             {% buttons %}
                <button type="submit" class="btn btn-default">
                   in  {% bootstrap_icon "log-in" %} 
                </button>
            {% endbuttons %}
            <h4><a href="/accounts/register" class="btn btn-default" style="font-family:sans-serif">register<span class="glyphicon glyphicon-check"></span></a></h4>
          </form>
        </div>
    </div>
</div>
{% endblock %}
