{% load bootstrap3 %}
{%load staticfiles%}

<link rel="stylesheet" type="text/css" href="{% static 'notes/style.css' %}" />


{%block content%}
<h1 style='color:white; font-family:serif; font-size:50pt; margin-left:5%; margin-top:2%'>IntoTheDeep</h1>


<a href="/add/" style="text-decoration:none"><h2 style = "float:right; margin-top:-5%; margin-right:5%; font-family:serif; color:gray">add</h2></a>
<a href="/accounts/logout/" style="text-decoration:none"><h2 style = "float:right; margin-top:-10%; margin-right:5%; font-family:serif; color:gray">out</h2></a>

    {% if object_list  %}
        {% for note in object_list  %}
            <a href={%url 'detail' note.id %}>
            <div class="postit" style='color:black; margin: 0 auto 20px auto;background-color:white; width:750px; height:auto; padding:25px 25px 90px; display:block; border-radius:5px;'>
            <br>
            <u style='color:black;'>{{note.title}}</u>
            <br>
            {{note.content}}
      </div>
            </a>
        {% endfor %}
    {% else %}
        <p>No notes are available.</p>
    {% endif %}

{%endblock%}