{%load staticfiles%}

<link rel="stylesheet" type="text/css" href="{% static 'notes/style.css' %}" />

<title>IntoTheDeep</title>

<h1>IntoTheDeep</h1>

<a href="/add/" style="text-decoration:none"><h2 style = "float:right; margin-top:-5%; margin-right:5%; font-family:serif; color:gray">add</h2></a>


{% if object_list  %}
    {% for note in object_list  %}
        <a href={%url 'detail' note.id %}>
            <div class="postit">
                <u>{{note.title}}</u>
            </div>
        </a>
    {% endfor %}
{% else %}
    <p>No notes are available.</p>
{% endif %}